<head>
  <!---- import stylesheet content here ----->
</head>


<div class="container">
  <div style="width: 100%; margin-top: 50px;">
        
        <div class="header">
          <h2> Manage My Account </h2>
            <div class="d-flex justify-content-end" style="margin-right: 50px;">
              <img src = "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class = "rounded-circle " alt = "Rounded Image" width = "100" height = "100" >
            </div>
          </h2>       
          <hr>
        </div>
        
        <div class="col-lg-auto">
          <div class="row-lg-auto">
          <div class="card-body ">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <div class="field">
              <h5>First Name</h5>
              <%= f.text_field :firstName, autofocus: true, autocomplete: "firstName", class:"form-control" %>
            </div>

            <div class="field", style="margin-top: 15px">
              <h5>Last Name</h5>
              <%= f.text_field :lastName, autofocus: true, autocomplete: "firstName", class:"form-control" %>
            </div>
            
            <div class="field", style="margin-top: 15px">
              <h5>Email Address</h5>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
            </div>

            <div class="field", style="margin-top: 15px">
              <h5>Birth Month</h5>
              <%= f.text_field :birthMonth, autofocus: true, autocomplete: "birthMonth", class:"form-control" %>
            </div>

            <div class="field", style="margin-top: 15px">
              <h5>Birth Day</h5>
              <%= f.text_field :birthDay, autofocus: true, autocomplete: "birthDay", class:"form-control" %>
            </div>

            <div class="field", style="margin-top: 15px">
              <h5>Birth Year</h5>
              <%= f.text_field :birthYear, autofocus: true, autocomplete: "birthYear", class:"form-control" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field", style="margin-top: 15px">
              <h5> Confirm Current Password</h5>
              <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", placeholder:"Leave this blank to keep the same password" %>
            </div>

            <div class="field", style="margin-top: 15px">
              <h5> New Password</h5>
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
              <% if @minimum_password_length %>
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class="field", style="margin-top: 15px">
              <h5> Password Confirmation</h5>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
            </div>

            <div class="d-flex sign-in" style="margin-top: 20px;">
              <%= f.submit "Update", :class => "btn btn-primary"%>
              <a id="home" class="justify-content-end btn btn-secondary" style="margin-left: auto;" href='/'>Home</a>
            </div>


          <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
