<!--- Generated list of Example Books ------->
<% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>
            <table>
            <% count = 0 %>
            <% for i in 1..(@counts/5)+1 do%>
                <% puts("DEBUG: In the display loop on home page where count=" + count.to_s()) %>
                <% if count == @counts %>
                <% break %>
                <% end %>
                <tr>
                <% for i in 1..5 do%>
                <% if count == @counts %>
                <% break %>
                <% end %>
                <td>
                    <div class="card" style="width: 18rem; margin-left:10px; margin-top:10px">
                    <% if not @books[count][:image].nil? %>
                        <img src="<%= @books[count][:image] %>"class="card-img-top" alt="... No image to display ..." width="300" height="350">
                    <% else %>
                        <img src="https://media.wired.com/photos/5be4cd03db23f3775e466767/master/pass/books-521812297.jpg" class="card-img-top" alt="..." width="300" height="350">
                    <% end %>
                    <div class="card-body">
                        
                        <h5 class="card-title"><%= @books[count][:title] %></h5>
                        
                        <p class="card-author"><%= @books[count][:author] %></p>
                        <p class="card-description"><%= @books[count][:description][0, 150] %>...</p>
                        <p class="card-comment"><%= @books[count][:comment_field] %></p>
                        
                        <% if @books[count][:isInReadingList] %> 
                            <%= image_tag("icons/ToReadListIcon.png", height: '40px', style:"margin-right:55px;") %>
                        <% end %>

                        <% if @books[count][:isRead] %>
                            <%= image_tag("icons/BookReadIcon2.png", height: '40px', style:"margin-right:55px;") %>
                        <% end %>

                        <% if @books[count][:isInPersonalLibraryList] %>
                            <%= image_tag("icons/LibraryIcon.png", height: '40px') %>
                        <% end %>

                        <p class="card-tags"><strong>Tags:&nbsp;&nbsp;</strong><%= @books[count].tags.map(&:name).join(', ') %></p>
                        
                        <% if user_signed_in? %>
                            <p class="text-right"><b>Progress: <%= @books[count][:readPage].to_s+" / "+@books[count][:totalPage].to_s %></b></p>
                            <p>
                            <% progress_value = (!(@books[count][:totalPage]==0))? '%.2f' % (((@books[count][:readPage].to_f)/(@books[count][:totalPage].to_f))*100.0 ): 0 %>
                            
                            
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" 
                                style="text-shadow: 1px 1px #000;<%= "width:"+progress_value.to_s+"%" %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= progress_value %>&nbsp;&#37;
                                </div>
                            </div>
                            
                            </p>

                        <% else %>
                            <p>Total Pages: <%= @books[count][:totalPage]%></p>
                        <% end %>

                        <% if user_signed_in? %>
                            <div style="margin-bottom:12px;">
                                <a href="/book/<%= @books[count][:id]%>" class="btn btn-primary" style="margin-right:10px;">Read More</a>
                                <a href="/book/<%= @books[count][:id] %>/edit" class="btn btn-primary", id="edit-book">Edit Book</a>
                            </div>
                        <% else %>
                            <a href="/book/<%= @books[count][:id]%>" class="btn btn-primary" style="margin-right:5px;">Read More</a>
                        <% end %>


                        <% if user_signed_in? %>
                            
                        <% end %>

                        <a href=<%= "https://www.amazon.com/s?k=" + @books[count][:title].gsub(" ", "+") + "&i=stripbooks"%> class="btn btn-warning">Buy on Amazon</a>
                        <% count = count +1 %>
                    </div>
                    </div>
                </td>
                <% end %>
                
                </tr>
            <% end %>
            </table>