<h1>Edit Book<h1>

<%= form_tag :action => 'update' do %>
    <p>
        <label for = "title">Title</label>: 
        <%= text_field 'books', 'title', id: "title" %>
    </p>

    <p>
        <label for = "author">Author</label>: 
        <%= text_field 'books', 'author', id: "author" %>
    </p>

    <p>
        <label for = "description">Description</label>:
        <%= text_field 'books', 'description', id: "description" %>
    </p>

    <p>
        <label for = "isInReadingList">Is in Reading List</label>:
        <%= check_box 'books', 'isInReadingList', id: "isInReadingList" %>
    </p>

    <p>
        <label for = "isInPersonalLibraryList">Is in Reading List</label>:
        <%= check_box 'books', 'isInPersonalLibraryList', id: "isInPersonalLibraryList" %>
    </p>

    <%= submit_tag "Update", id: "Update" %>
<% end -%>
<%= link_to 'Back to Home', :back, id: 'back-to-home' %>    
    
    