<h1>New Book<h1>

<%= form_tag :action => 'create' do %>
    <p>
        <label for = "title">Title</label>: 
        <%= text_field 'books', 'title' %>
    </p>

    <p>
        <label for = "description">Description</label>:
        <%= text_field 'books', 'description' %>
    </p>

    <p>
        <label for = "isInReadingList">Is in Reading List</label>:
        <%= check_box 'books', 'isInReadingList' %>
    </p>

    <%= submit_tag "Create" %>
<% end -%>
<%= link_to 'Back to Home', :back %>    
    
    