<h1>New Book<h1>

<%= form_tag :action => 'create' do %>
    <p>
        <label for = "title">Title</label>: 
        <%= text_field 'books', 'title', id: "title" %>
    </p>

    <p>
        <label for = "author">Author</label>: 
        <%= text_field 'books', 'author', id: "author" %>
    </p>

    <p>
        <label for = "description">Description</label>:
        <%= text_field 'books', 'description', id: "description" %>
    </p>

    <p>
        <label for = "genre">Genre</label>:
        <%= text_field 'books', 'genre', id: "genre" %>
    </p>

    <p>
        <label for = "tag_names">Tags</label>:
        <%= text_field 'books', 'tag_names', id: "tags"  %>
    </p>

    <p>
        <label for = "isInPersonalLibraryList">Is in Reading List</label>:
        <%= check_box 'books', 'isInPersonalLibraryList', id: "isInPersonalLibraryList" %>
    </p>

    <p>
    <label for = "isInPersonalLibraryList">Is in Reading List</label>:
    <%= check_box 'books', 'isInPersonalLibraryList', id: "isInPersonalLibraryList" %>
    </p>

    <%= submit_tag "Create", id: "Create" %>
<% end -%>
<%= link_to 'Back to Home', :back, id: 'back-to-home' %>    
    
    