<html>
    <head>
    <title><%= @page_title or "Page Title" %></title>

    <!---- import stylesheet content here----->
    <%= stylesheet_link_tag 'index'%>

    </head>

    <body>
        
        <!--- Render content using the base index---->
        <% content_for :main_content do %>

        <div class="add-a-book">
            <% if user_signed_in? %>
                <a id="add-a-book" class="justify-content-end btn btn-primary" href='/book/new'>Add a Book</a>
            <% end %>

        <div class="tagSearchHeader">
            
            
            
            <div class="Search">
                <a class="searchPath"><%= form_tag home_search_path(), method: :get do %></a>
                <a class="searchPathForm"><%= text_field "searchtag", params[:search], class: "form-control", placeholder: "Search by Tag..." %>
                <a class="searchButton"><%= submit_tag "Search Tags", class:"btn btn-success" %><% end %></a>

                
            </div>

        </div>

        <%= form_tag("/", method: "get") do %>
            <%= label_tag(:q, "Filter By:") %>
            <%= select_tag "option_id", options_for_select([["Author",1], ["Genre",2]]) %>

            <%= submit_tag("Filter") %>
          <% end %>
            
        <%= render 'book/bookview' %> 

        <% end %>
        
        <%= render template: "base" %>
    </body>
</html>