<html>
    <head>
    <title><%= @page_title or "Page Title" %></title>

    <!---- import stylesheet content here----->
    <%= stylesheet_link_tag 'index'%>

    </head>

    <body>
        
        <!--- Render content using the base index---->
        <% content_for :main_content do %>

        
            <div class="tagSearchHeader">
                
                
                
                <div class="Search" style="margin-bottom: 20px;">
                    <a class="searchPath"><%= form_tag home_search_path(), method: :get do %></a>
                    <a class="searchPathForm"><%= text_field "searchtag", params[:search], class: "form-control", id: "tags", placeholder: "Search by Tag...", style:"width:250px; margin-left:-250px; margin-right: 15px; margin-top: 10px;" %></a>
                    
                    
                    
                    
                </div>

                <div class="add-a-book" style="margin-top:10px;">      
                        <a><%= submit_tag "Search for tags", class:"justify-content-start btn btn-success"%></a>
                        <% end %>
                        <% if user_signed_in? %>
                            <a id="add-a-book" class="justify-content-end btn btn-primary" href='/book/new' style="margin-left: 978px;">Add a Book</a>
                        <% end %>
                </div>


        </div>

        <%= form_tag("/", method: "get") do %>
            <%= label_tag(:q, "Sort By:") %>
            <%= select_tag "option_id", options_for_select([["Author",1], ["Genre",2],["Oldest-Newest",3]]) %>

            <%= submit_tag("Sort", class:"btn btn-secondary", style:"margin-left: 15px; margin-bottom: 10px;") %>
          <% end %>
            
        <%= render 'book/bookview' %> 

        <% end %>
        
        <%= render template: "base" %>
    </body>
</html>