<html>
    <head>
    <title><%= @page_title or "Page Title" %></title>

    <!---- import stylesheet content here----->
    <%= stylesheet_link_tag 'index'%>

    </head>

    <body>
        
        <!--- Render content using the base index---->
        <% content_for :main_content do %>

        <div class="d-flex filter-bar">
            <a id="add-a-book" class="justify-content-end btn btn-primary" href='/book/new'>Add a Book</a>
        </div>
        <p class="actions">
        <%= form_tag home_search_path(), method: :get,
        class: "form-inline" do %>
        <%= label_tag "searchtag", "Tags", class: "sr-only" %>
        <%= text_field_tag "searchtag", params[:search], class: "form-control" %>
        <%= submit_tag "Search Tags" %>
        <% end %>
        </p>
        <%= form_tag("/", method: "get") do %>
            <%= label_tag(:q, "Filter By:") %>
            <%= select_tag "option_id", options_for_select([["Author",1], ["Genre",2]]) %>

            <%= submit_tag("Filter") %>
          <% end %>
            
        <%= render 'book/bookview' %> 

        <% end %>
        
        <%= render template: "base" %>
    </body>
</html>