<html>
    <head>
        <title><%= @page_title or "Page Title" %></title>

        <!---- import stylesheet content here ----->
        <%= stylesheet_link_tag 'base'%>

    </head>

    <body>
    
        <div>
            <!--- Render base content that every page should have ---->
            <nav class="sticky-top" id="top-bar">
                <div class="top-nav">
                    
                    <input id="search" class="form-control rounded" placeholder="Find Something New...">
                    
                    <a class="btn btn-success search-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </a>
                </div>
            </nav>
            
<div class="wrapper">       
        <!------- Navigation Side Bar ------->
        <nav id="sidebar">
            <div class="sidebar-header Logo-Space" >
                
                <a href="/" class="Logo"><%= image_tag("icons/Read_It_Logo_1.png", width: '270px') %></a>
            </div>

        
            <ul class="reading-menu light-text">
                <h3 style="margin-top: 30px;">Main Menu</h3>
                
                <li><a href=""> Discover</a></li>
                <li><a href=""> Reading Challenges </a></li>
            </ul>
        <hr>

            <% if user_signed_in? %>
                <ul class="sub-menu light-text">

                <h5>Calendar</h5>
                    <li><a href="/calendar"> View Calendar</a></li>
                    <li><a href="/meetings/new"> Create Event</a></li>
                </ul>
        <hr>
               
                <ul class="sub-menu light-text">
                
                    <h5>My Menu</h5>
                    <li><a href="/willread"> Books I Want to Read</a></li>
                    <li><a href="/alread"> Books I've already Read</a></li>
                </ul>
            <hr>
            <% end %>
        <ul class="account-menu light-text">
            <h5>Account</h5>
            <% if user_signed_in? %>
                <% if current_page?(root_path) %>
                    <li>User: <%= @current_user.email %></li>
                <% end %>
                <li><a href="/users/edit">Account Settings</a></li>
                <li><a href="/users/sign_out"> Logout</a></li>
                <% else %>
                <li><a href="/users/sign_in">Login</a></li>
                <li><a href="/users/sign_up">Register</a></li>
            <% end %>
            </ul>

            <% if user_signed_in?%>
             <ul class="legend light-text" style="margin-top: 220px; margin-left: -10px ">
                
                <h5>Legend</h5>
                    <li><a><%= image_tag("icons/ToReadListIcon.png", width: '35px') %> Exists In To Read List</a></li>
                    <li><a><%= image_tag("icons/BookReadIcon2.png", width: '35px') %> Already Read It</a></li>
                    <li><a><%= image_tag("icons/LibraryIcon.png", width: '35px') %> Is In Personal Library</a> </li>
                </ul>    
            <% end %>
        </nav>

        <!------- Page Content ------->
        <div id="content">

        
            <!--- Render base content that every page should have ---->
            <%= content_for(:main_content) ? yield(:main_content) : Yield %>
        </div>
    </div>

    </body>
</html>